<div class="start-wrapper">
  <div class="center-icon" [@iconExpand]="iconState">
    💇‍♀️
  </div>

  <div class="icon-burst" *ngIf="showExtras">
    <span class="icon icon-1">💅</span>
    <span class="icon icon-2">✂️</span>
    <span class="icon icon-3">💄</span>
    <span class="icon icon-4">🧴</span>
    <span class="icon icon-5">🪞</span>
  </div>

  <div class="welcome-message" *ngIf="showExtras" @fadeIn>
    <h2>Bienvenido</h2>
    <p>Inicia sesión para continuar</p>
  
    <div class="login-container" style="max-width: 400px; margin: auto;">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nombre de usuario</mat-label>
          <input matInput type="text" formControlName="userName" required>
          <mat-error *ngIf="loginForm.get('userName')?.hasError('required')">
            Campo obligatorio
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Campo obligatorio
          </mat-error>
        </mat-form-field>
  <br>
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          Ingresar
        </button>
      </form>
    </div>
  </div>
  
</div>
